site_name: Theme Café Docs
validation:
  anchors: ignore # ignore anchor link warnings
theme:
  name: material
  custom_dir: docs/material
  logo: assets/logo/outline.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  features:
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.indexes
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: teal
      accent: purple

    - media: "(prefers-color-scheme: dark)"
      scheme: slate 
      toggle:
        icon: material/weather-night
        name: Switch to light mode    
      primary: teal
      accent: purple
  favicon: assets/logo/favicon.svg
markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
extra_css:
  - install/patching/rom-patcher-js/style.css
  - stylesheets/extra.css
not_in_nav: |
  md.md
  themiify.md
  archived/bootsound.md
  themecreation/advanced/misc.md
  themecreation/advanced/userselect.md
  themecreation/advanced/accountsetting.md
  themecreation/resources/arrows.md

nav:
  - Home: index.md
  - Install:
    - install/index.md
    - Menu Files: install/files.md
    - Patching: install/patching.md
    - Loading Theme: install/loading.md
    - Fonts: install/fonts.md
    - Credits: credits/index.md
  - Theme Creation:
      - themecreation/index.md
      - Template: themecreation/themes/template.md
      - Animations: themecreation/themes/anim.md
      - Music: 
        - themecreation/music/index.md
      - Advanced:
        - themecreation/advanced/index.md
        - Launcher: themecreation/advanced/launcher.md
        - Wara Wara Plaza: themecreation/advanced/wwp.md
        # - Account Settings: themecreation/advanced/accountsetting.md
        # - User Select: themecreation/advanced/userselect.md
        # - Miscellaneous: themecreation/advanced/misc.md
      - Resources: 
        - themecreation/resources/index.md
        - Applets: themecreation/resources/applets.md
        # - Arrows: themecreation/resources/arrows.md
      - Basic Guides: 
        - themecreation/general/index.md
        - Changing Colors: themecreation/general/colors.md 
        - Textures: themecreation/general/textures.md
        - Exporting / Replacing: themecreation/general/exportimport.md
        - Splash Screen: themecreation/general/splash.md
        - Mix Themes: themecreation/general/mixthemes.md

      - themecreation/sharing.md

      - Archived:
        - archived/index.md
        - New Creator: archived/newcreator.md
        - Arrows: archived/arrows.md
        - Floor: archived/floor.md
        - Frame by frame: archived/framebyframe.md
        - Layers: archived/layers.md 
        - Music: archived/music.md
        - Vertical Scrolling: archived/v_scroll.md
        - Horizontal Scrolling: archived/h_scroll.md
        - Static: archived/static.md 
        - Static to WWP: archived/statictowwp.md
        - Minimalist: archived/minimalist.md
  - Troubleshooting: troubleshooting.md

extra:
  generator: false
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/2DNvH9db2A
      name: Theme Café
    - icon: fontawesome/brands/github
      link: https://github.com/ThemeCafe/Docs
      name: Docs Github Repository