button {
    background-color: var(--md-primary-fg-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif; 
    transition: background-color 0.3s ease;
    font-weight: 700;
}

button:hover {
    background-color: #354394;
    transition: 0.1s;
}

button:active {
    background-color: #354394;
}

/* Prevent admonition border from appearing when form elements are selected */
.admonition:focus-within {
    box-shadow: none !important;
}

.formContainer {
    padding: 16px 20px;
    max-width: 350px;
}

.animForm {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formHdr, .formLbl {
    display: block;
    font-weight: bold;
}

.formLbl {
    margin-bottom: 6px;
}

.formSel {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}